web: npm run build && npm run start:prod
heroku config:set NPM_CONFIG_PRODUCTION=false
heroku config:set NODE_ENV=production
// this enable to start without using ts-node
// this will run prestart:prod automatically